;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]]

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn app.page/init}}
   :js-options {:js-provider :external
                :external-index "index.js"
                :external-index-format :esm}}}}
