;; shadow-cljs configuration
{:deps true

 :builds
 {:app
  {:target :browser
   :modules {:main {:entries [client.main]
                    :init-fn client.main/init}}
   :js-options {:js-provider :external
                :external-index "index.js"
                :external-index-format :esm}
   :devtools {:preloads [preload devtools.preload]}}}}
